/* App.css */

/* Conteneur principal de l'application */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* App.css */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
}


/* Composants de carte */
.card {
  padding: 2em;
  margin: 1em;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-color-light);
}


