/* App.css */

/* Conteneur principal de l'application */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0; /* Retirez le padding pour éviter le défilement */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* Permet à #root de prendre l'espace disponible */
}

/* Composants de carte */
.card {
  padding: 2em;
  margin: 1em;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-color-light);
}


