/* index.css */

/* Styles globaux de base */
:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #4FC49D;
  --text-color-light: rgba(255, 255, 255, 0.87);
  --text-color-dark: #213547;
}

/* Typographie globale et reset */
html, body {  /* Ajoutez html ici */
  height: 100%; /* Assure que html prend 100% de hauteur */
  margin: 0;
  padding: 0;
  color: var(--text-color-light);
  background-color: var(--background-color);
  line-height: 1.5;
  display: flex; /* Flexbox pour centrer le contenu */
  flex-direction: column; /* Aligne les enfants en colonne */
}

body {
  font-family: 'Inknut Antiqua', serif;
  flex: 1; /* Permet au body de prendre l'espace restant */
}

a {
  text-decoration: none;
}



