/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.8); 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
    transition: background-color 0.3s ease-in-out;
}


.logo_header {
    font-size: 24px; 
    color: black;
    margin-left: 20px; 
    transition: transform 0.3s ease; 
}

.logo_header:hover {
    color: #4FC49D; 
}


.navbar-links {
    list-style: none;
    display: flex;
    gap: 0px;
    margin-right: 20px;
    align-items: center; 
}


.button_login {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.button_login:hover {
    color: #4FC49D; 
}

.button_signup {
    box-sizing: border-box;
    padding: 0px 12px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: #4FC49D; 
    padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #4FC49D;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button_signup:hover {
    background-color: #4FC49D;
    color: white; 
}


