.searchBoxContainer {
    width: 100%; /* Prend 70% de la largeur totale */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 20px;
}

.input_searchBox {
    width: 100%; 
    padding: 8px;
    border: none; 
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    outline: none;
    margin-bottom: 10px; 
    box-sizing: border-box;
    resize: vertical; 
}

.bottom_searchBox {
    display: flex;
    width: 100%;
    gap: 10px; /* Espace entre les éléments */
    align-items: center; /* Aligne verticalement les éléments */
}

.img_upload_button{
    width: 12px;
    color: #4FC49D;
}

.img_search_button{
    width: 12px;
    color: #4FC49D;
}

.custom-select {
    flex: 3; /* Occupe 75% de l'espace */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Inter', sans-serif;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    appearance: none;
}

.custom-select::after {
    content: "▼"; /* Icône de flèche */
    position: absolute;
    top: 50%;
    right: 10px; /* Position de la flèche */
    transform: translateY(-50%); /* Centre verticalement */
    pointer-events: none; /* Empêche la flèche d'être cliquée */
    font-size: 12px;
    color: #333333;
}

.button_searchBox {
    display: flex;
    flex: 1; /* Occupe 25% de l'espace */
    gap: 5px; /* Espacement entre les deux boutons */
}

.button_upload, .button_search {
    flex: 1; /* Chaque bouton prend la moitié de l'espace dans button_searchBox */
    padding: 8px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.button_upload{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: #4FC49D;
    border: solid 1px #4FC49D;
    align-items: center;
    gap: 2px;
}

.button_search {
    background-color: #4FC49D;
    align-items: center;
    gap: 2px;
    display: flex;
    flex-direction: row;
}

/* Style pour le survol des boutons */
.button_upload:hover, .button_search:hover {
    background-color: #3b9a7d;
}

.button_upload:hover{
    color: white;
}

.button_random{
 font-family: 'Inter', sans-serif;
 font-size: 12px;
 appearance: none;
 border: none;
 background-color: transparent;
 color: white;
 cursor: pointer;
}
.button_random:hover{
color: black;    
}



/* .searchBox {
    width: 100%;
    max-width: 600px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px; 
} */